.hide {
	display:none;
}

.show {
	display:block;
}

.fontSize0Px {
	font-size:0px;
}

.clear{
	clear: both;
}

.positionRelative{
	position:relative;
}

.marginRight9px{
	margin-right: 9px;
}

.marginBottomTop-mobile{
	margin-bottom: 10px;  
	margin-top: 7%;
}