/*New rule for font family with customise MC font*/
@font-face {
	font-family: 'Mark Office for MC';
	src: url('../fonts/mark_for_mc_office/MarkForMC.ttf') format('truetype');
}

@font-face {
	font-family: 'Mark Office for Bold';
	src: url('../fonts/mark_for_mc_office/MarkForMC-Bold.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Mark Office for Heavy';
	src: url('../fonts/mark_for_mc_office/MarkForMC-Heavy.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Mark Office for Medium';
	src: url('../fonts/mark_for_mc_office/MarkForMC-Med.ttf')
		format('truetype');
}